@@ -0,0 +1,44 @@
name: Sync Image to Aliyun  Example

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Git pull
      uses: actions/checkout@v3

    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v2.9.1

    - name: Login to Docker Hub
      uses: docker/login-action@v2.2.0
      with:
        registry: crpi-iyyh7v6uo0eulgp6.cn-shanghai.personal.cr.aliyuncs.com
        username: everearthglobal
        password: lyp82nMT
        logout: false

    - name: Use Skopeo Tools Sync Image to Docker Hub
      run: |
        # 使用 skopeo 工具将镜像同步到阿里云个人仓库中，使用时请自行源和目标修改仓库名称和镜像名称

        # vllm 
        # skopeo copy docker://docker.io/vllm/vllm-openai:v0.8.4 docker://registry.cn-shanghai.aliyuncs.com/haoranjun/vllm-openai:v0.8.4

  
        # skopeo copy docker://nvcr.io/nvidia/pytorch:24.02-py3 docker://registry.cn-shanghai.aliyuncs.com/haoranjun/pytorch:24.02-py3  

       
        # starrocks
        skopeo copy docker://docker.io/starrocks/operator:v1.10.1 docker://crpi-iyyh7v6uo0eulgp6.cn-shanghai.personal.cr.aliyuncs.com/maxim-1/starrocks-operator:v1.10.1
        skopeo copy docker://docker.io/starrocks/fe-ubuntu:3.3.13 docker://crpi-iyyh7v6uo0eulgp6.cn-shanghai.personal.cr.aliyuncs.com/maxim-1/starrocks-fe-ubuntu:3.3.13
        skopeo copy docker://docker.io/starrocks/cn-ubuntu:3.3.13 docker://crpi-iyyh7v6uo0eulgp6.cn-shanghai.personal.cr.aliyuncs.com/maxim-1/starrocks-cn-ubuntu:3.3.13
         
        # skopeo copy docker://ghcr.io/huggingface/text-embeddings-inference:1.3 docker://registry.cn-shanghai.aliyuncs.com/haoranjun/text-embeddings-inference:1.3
